@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fd2c2a; */
  background-color: black;
  font-family: "Helvetica_Now_Display", sans-serif !important;
}

canvas {
  pointer-events: none;
}

span.growing {
  background-color: red;
}
